<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%-5level [%t] [%d{HH:mm:ss.SSS}] [%logger{36}] - %msg%n" />
		</Console>
		<!--文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定 -->
		<File name="File" fileName="log/demo_java.log" append="true">
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} - %msg%n" /> -->
			<PatternLayout
				pattern="%-5level [%t] [%d{HH:mm:ss.SSS}] [%logger{36}] - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>
